#citySearch {
    border: none;

}

.weatherCard {
    font-size: 12px;
}

 .fivedayTemp, .fivedayHumid{
    font-size: 13px;
}

.fivedayDate{
    margin-top: 2px;
}

h4 span{
    font-size: 12px;
}

h5{
    font-size: 18px;
}

.card-body span{
    font-size: 12px;
    font-weight: normal;
}

.card-body > h6 > span{
    font-size: 10px;
}



.fa-minus:hover {
    color: red
}

.card-body {
    font-weight: bold;
}



.card-title {
    margin-bottom: 0px;
}

